img {
    width: 450px;
    height: 600px;
    margin-right: 10px;
}

p.waifu {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

p.video {
    font-size: 30px;
    text-align: center;
}
.DivWaifu {
    background-color:cadetblue;
}