button {
    background-color: cadetblue;
}

img.waifu {
    width: 450px;
    height: 600px;
}

video.waifu{
    height: 450px;
    width: 450px;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
}
  
li {
    display: inline-block;
    margin-right: 50px;
    font-size: 25px;
}

h1{
    font-size: 50px;
    text-align: center;
}

p.waifu {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

p.video {
    font-size: 30px;
    text-align: center;
}

.DivWaifu {
    background-color:cadetblue;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    background-color: crimson;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
}

.sidenav a {
    font-size: 25px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
    color: blue;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: gray;
}

.sidenav .closebtn {
    position: absolute;
    font-size: 40px;
    margin-left: 200px;
}

canvas {
    border:1px solid white;
    background-color: gray;
}
