button {
    background-color: cadetblue;
}

.btn {
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
    color: darkcyan;
    font-size: 30px;
    text-align: center;
}

.btn:hover{
    color: #4cc9f0;
}

img.waifu {
    width: 450px;
    height: 600px;
}

video.waifu{
    height: 450px;
    width: 450px;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
}
  
li {
    display: inline-block;
    margin-right: 50px;
    font-size: 25px;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    text-align: center;
}

p.waifu {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

p.video {
    font-size: 30px;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    background-color: crimson;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
}

.sidenav a {
    font-size: 25px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
    color: blue;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: gray;
}

.sidenav .closebtn {
    position: absolute;
    font-size: 40px;
    margin-left: 200px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 20px;}
}

canvas {
    border:1px solid white;
    background-color: gray;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: medium;
    margin-left:auto;
    margin-right: auto;
    min-width: 400px;
    border-radius: 15px 15px 20px 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}

.content-table thead tr {
    background-color: lightgreen;
    color: crimson;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid grey;
}

.content-table tbody tr:nth-of-type(odd) {
    background-color: lightcoral;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: turquoise;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid lightcoral;
}

.review-table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}

.review-table thead tr {
    background-color: darkcyan;
    font-weight: bold;
}

.review-table th,
.review-table td {
    padding: 10px 25px;
}

.review-table tbody tr {
    border-bottom: 10px solid black;
    background-color: darkgrey;
}

.rating-table {
    border: 2px solid black;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}

.rating-table tr td+td {
    width: 800px;
}

.rating-table tbody td {
    background-color:azure;
    border-bottom: 2px solid black;
    color: black;
    padding: 2.5em;
    font-size: 150%;
}

/*
Background colours for the tier list column 1
*/
#Splus{
    background-color: lightcoral;
    border-right: 2px solid black;
    text-align: center;
}

#S{
    background-color: orange;
    border-right: 2px solid black;
    text-align: center;
}

#A{
    background-color: yellow;
    border-right: 2px solid black;
    text-align: center;
}

#B{
    background-color: yellowgreen;
    border-right: 2px solid black;
    text-align: center;
}

#C{
    background-color: rgb(54, 124, 54);
    border-right: 2px solid black;
    text-align: center;
}

#D{
    background-color: lightblue;
    border-right: 2px solid black;
    text-align: center;
}

#E{
    background-color: rgb(111, 86, 253);
    border-right: 2px solid black;
    text-align: center;
}

#F{
    background-color: rgb(213, 117, 228);
    border-right: 2px solid black;
    text-align: center;
}


.space {
    margin-top: 1500px;
}

#grad {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(0, 255, 255, 1), rgb(183, 0, 255));
}

.slide {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: box-slide 5s infinite;
}

@keyframes box-slide {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: box-spin 6s infinite;
    transform-origin: 70% 70%;
}

@keyframes box-spin {
    0%   {background-color:red; left:0px; top:0px;
          transform: rotate( 0.0deg)}
    25%  {background-color:yellow; left:200px; top:0px;
          transform: rotate( 90.0deg)}
    50%  {background-color:blue; left:200px; top:200px;
          transform: rotate( 90.0deg)}
    75%  {background-color:green; left:0px; top:200px;
          transform: rotate( 90.0deg)}
    100% {background-color:red; left:0px; top:0px;
          transform: rotate( 90.0deg)}
  }

.container { 
    background-image: url("images/hololive.jfif");
    height: 1400px;
    position: relative;
    border: 3px solid green; 
}
 
.center {
    position: absolute;
    top: 50%;
    left: 50%;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}

.parallax {
    background-image: url("images/kei.jfif");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px){
    .parallax {
        background-attachment: scroll;
    }
}

.cards{
    perspective: 1000px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 20px;
}

.card{
    width: 640px;
    background-color: #4cc9f0;
    height: 320px;
    opacity: 0.7;
    border-radius: 20px;
    align-items: center;
}

.SpacingHorizontal{
    padding: 30px;
}

p.cardTitle{
    color: black;
    text-align: center;
    font-size: larger;
    padding-top: 5mm;
}

img.card{
    padding-left: 15px;
    padding-top: 10px;
    width: auto;
    height: 200px;
    opacity: 0.85;
}

.wrapper{
    margin: 0 auto;
    width: 900px;
}

.contain{
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;
}

.overlay {
    color: white;
    font-size: 18px;
    text-align: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    transition: .5s ease;
    opacity: 0;
}

.contain:hover .overlay {
    opacity: 1;
}

/* .header{
    height: 150px;
    width: 1000px;
    padding: 40px;
    opacity: 0.9;
    text-align: center;
    background: #1abc9c;
    color: white;
} */

#toc_container{
    border: 1px solid black;
    display: table;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    width: auto;

}

.toc_title{
    font-weight: 700;;
    text-align: center;
    font-size: xx-large;
}

.btnLeft {
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
    color: #ff6d74;
    font-size: 30px;
    text-align: center;
}

.btnLeft:hover{
    color: #ff003f;
}

.btnRight {
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
    color: #d997ff;
    font-size: 30px;
    text-align: center;
}

.btnRight:hover{
    color: #8f00f1;
}
